.block-with-small-information {
	background: #ffffff;
	border-radius: 25px;
	padding: 30px 15px;
	.popular {
		text-align: center;
	}
	h5 {
		font-size: 18px;
		font-weight: 600;
		color: #333333;
	}
	ul {
		list-style-type: none;
		text-align: left;
		margin-bottom: 25px;
		padding-left: 0;
		li {
			background: url("../img/star.png") no-repeat;
			padding-left: 38px;
			color: #333333;
			margin-top: 15px;
			a {
				color: inherit;
				cursor: pointer;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	.date {
		border: 3px solid #00c1bb;
		padding: 0;
		color: #00c1bb;
		font-size: 30px;
		font-weight: 800;
		margin-bottom: 0;
		display: block;
		text-align: center;
	}
	.month {
		color: #333333;
		font-weight: 900;
		font-size: 12px;
	}
	.time {
		color: #333333;
		font-weight: 900;
		font-size: 11px;
		display: block;
		margin-top: -3px;
		.fa-clock {
			color: #00c1bb;
		}
	}
}
.yellow-border-btn, .blue-border-btn {
	display: inline-block;
	margin: 0 auto;
	background: transparent;
	border: 2px solid #fdd444;
	color: #333333;
	font-size: 11px;
	text-transform: uppercase;
	text-align: center;
	border-radius: 20px;
	padding: 8px 32px;
	font-weight: 900;
	&:hover {
		color: inherit;
	}
}
.blue-border-btn {
	border: 2px solid #00c1b9;
}
.poster {
	margin: 40px 0;
	text-align: center;
	p {
		font-size: 18px;
		color: #333333;
		text-align: left;
		line-height: 24px;
		margin-top: -5px;
		margin-bottom: 10px;
		font-weight: 100;
	}
}
.poster_description {
	display: flex;
	align-items: center;
	justify-content: center;
	h5 {
		margin-bottom: 20px;
	}
}
.poster-text {
	padding: 0;
}
.vi-btn_underline {
	color: #8770ab;
	text-decoration: underline;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	&:hover {
		color: #8770ab;
		text-decoration: underline;
	}
}
.one-poster {
	margin-bottom: 25px;
	text-align: left;
	&:last-child {
		margin-bottom: 0;
	}

}
.viber-block {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 40px;
	.viber-text {
		margin-left: 15px;
	}
	p {
		margin-bottom: 0;
	}
	.fa-viber {
		color: #8770ab;
	}
}
.instagram-block, .facebook-block {
	margin-bottom: 40px;
	text-align: center;
	.instagram-vidjet, .facebook-vidjet {
		margin-top: 15px;
		min-height: 50px;
	}
}